#header {
    display: flex;
    width: 96%;
    margin: 20px auto;
}

#header1 {
    border: 1px solid black;
    height: 50px;
    width: 15%;
    background-color: red;
    float: left;
    margin-right: 5%;
}

#header2 {
    border: 1px solid black;
    height: 50px;
    width: 80%;
    background-color: green;
    float: right;
}

#section {
    display: flex;
    width: 96%;
    margin: auto;
}

#sleft {
    border: 1px solid black;
    height: 480px;
    width: 15%;
    background-color: purple;
    float: left;
    margin-right: 5%;
}

#smid {
    border: 1px solid black;
    height: 480px;
    width: 60%;
    background-color: yellow;
    float: right;
    margin-right: 5%;
}

#sright {
    border: 1px solid black;
    height: 480px;
    width: 15%;
    background-color: rgb(0, 255, 255);
    float: left;
    
}

#footer {
    width: 96%;
    border: 1px solid black;
    margin: 20px auto;
    height: 50px;
    background-color: blue;
}