    #body {
        display: flex;
        height: 300px;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }

    #foto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    #atas {
        width: 390px;
        height: 130px;
        margin: 1px auto 1px;
    }

    #bawah {
        width: 230px;
        margin: 1px auto 1px;
    }